Hi {{model.firstname}} {{model.lastname}}, <br/>
<br/>
We have received a request to change the security settings for this {{model.default.product}} account.
The settings have been changed successfully.
<br/><br/>
If the changes described above are incorrect or you did not make this request, please contact support using the following details: 
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you,<br/>
{{model.default.company}} Team
<br/><br/>
<small>
  This is an automated system message. Please do not reply to this email.
</small>