Hi {{model.firstname}} {{model.lastname}}, <br/><br />
This is an automated message to inform you that a {{model.default.company}} app you submitted was marked as Failed.
<br/><br/>
<b>Module:</b> {{model.module.title}}<br />
<b>App:</b> {{model.tempSchemaID}}<br />
{{#if model.masterAppName}}
<b>Master App:</b> {{model.masterAppName}}<br />
{{/if}}
<b>Status:</b> <b>Failed</b>


<br /><br />

<b>App Entry Summary</b>
<table style="width: 100%; border: 1px solid #CCCCCC;border-collapse: collapse">
  <tr>
    {{#each model.objAttribute}}
    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
      {{this.title}}
    </th>
    {{/each}}
    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
      Modified Date
    </th>
    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
      Modified By
    </th>
  </tr>
  <tr>
    {{#each model.objAttribute}}
    <td style="border: 1px solid #CCCCCC;border-collapse: collapse;">{{this.value}}</td>
    {{/each}}
    <td style="border: 1px solid #CCCCCC;border-collapse: collapse;">{{model.entityModifiedDate}}</td>
    <td style="border: 1px solid #CCCCCC;border-collapse: collapse;">{{model.entityModifiedBy}}</td>
  </tr>
</table>
<br />
<br />


<a href="{{model.default.web}}/#/">Click Here</a> to login into {{model.default.company}}.<br/> <br/>
This message was sent to you based on settings set by you or an administrator. 
If you do not want to receive similar messages in the future, 
please update your settings or contact your system administrator using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you,<br/>
{{model.default.company}} Team
<br/><br/>
<small>
  This is an automated system message. Please do not reply to this email.
</small>
