<!-- by surjeet.b@productivet.com -->
<!-- version 0.0.0 -->

{{#each appEntriesData}}
<div style="font-size: 12px;">
  <b>Linked Entity:
  {{#if this.title}}
    {{this.title}}
  {{/if}}
  </b>
  <br/><br />
  {{#if this.appliedFilter}}
  Applied Filters:
  <hr>

      {{#each this.appliedFilter as |value key|}}
      {{#if value}}
        {{#each value as |val key|}}
          {{key}}: {{val}}
        {{/each}}
       {{#unless @last}}
      |
      {{/unless}}
      {{/if}}
    {{/each}}
  {{/if}}
  <hr>
</div>
<br />

<font style="font-size:12px;">Number of matching records: {{this.recordsCount}}</font>
  <table style="width: 100%; font-size:8px;border: 1px solid #CCCCCC;border-collapse: collapse">
    <tr>
      {{#each this.headers}}
      <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
        {{this}}
      </th>
      {{/each}}
    </tr>
    {{#each this.data as |value key|}}
    <tr>
      {{#each value}}
      <td style="border: 1px solid #CCCCCC;border-collapse: collapse;">
        {{this}}
        <!-- {{this.key}} -->
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </table>
{{/each}}
<br />
