Hi {{model.firstname}}, <br/>
<br/>
The password for your Perfeqta Account has been changed.
<br/><br/>
If anything doesn’t look right, please contact administrator. <br/>
Note: The password is Case sensitive.<br/>
If you have questions, comments or trouble logging in, please contact your administrator. <br/>
<br/>
If the changes described above are not accurate or you didn’t make this request,
please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
<br/>
<small>
You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account.
Please do not reply to this email.
</small>
