<!-- by surjeet.b@productivet.com -->
<!-- version 0.0.3 -->

{{#each appEntriesData}}
<div style="font-size: 12px;">
  <b>App:
  {{#each this.formattedFilter.apps}}
    {{this}}
  {{/each}}
  </b>
  <br/><br />
  Applied Filters:
  <hr>
  {{#if this.formattedFilter.startDate}}
  Start Date: {{this.formattedFilter.startDate}} &nbsp;&nbsp;
  {{/if}}
  {{#if this.formattedFilter.endDate}}
  <br/>
  End Date: {{this.formattedFilter.endDate}}
  {{/if}}

  {{#if this.formattedFilter.attributes}}
  <br/>
  Attributes:
  {{#each this.formattedFilter.attributes as |value key|}}
    {{#if value}}
      {{#each value as |val key|}}
        {{key}}: {{val}}
      {{/each}}
      {{#unless @last}}
      |
      {{/unless}}
    {{/if}}
  {{/each}}
  {{/if}}

  {{#if this.formattedFilter.entities}}
  <br/>
  Key Entity Attributes:
      |
  {{#each this.formattedFilter.entities as |value key|}}
    {{#if value}}
      {{#each value as |v k|}}
        {{k}}: {{v}}
      {{/each}}
      |
    {{/if}}
  {{/each}}
  {{/if}}

  {{#if this.formattedFilter.sites}}
  <br/>
  Sites:
      
  {{#each this.formattedFilter.sites as |value key|}}
    {{#if value}}
      {{#each value as |v1 k1|}}
        {{k1}}: {{v1}}
      {{/each}}
      {{#unless @last}}
      |
      {{/unless}}
    {{/if}}
  {{/each}}
  {{/if}}

  {{#if this.formattedFilter.status}}
  <br/>
  Status:
   {{#each this.formattedFilter.status}}
    {{this}} {{#unless @last}}
      |
      {{/unless}}
  {{/each}}
  {{/if}}

  {{#if this.formattedFilter.batchEntryId}}
  <br/>
  Batch Entry ID: {{this.formattedFilter.batchEntryId}}
  {{/if}}
  <hr>
</div>
<br />

<font style="font-size:12px;">Number of matching records: {{this.recordsCount}}</font>
  <table style="width: 100%; font-size:8px;border: 1px solid #CCCCCC;border-collapse: collapse">
    <tr>
      {{#each this.headers}}
      <th style="border: 1px solid #CCCCCC;border-collapse: collapse; 
    word-wrap: break-word;">
        {{this}}
      </th>
      {{/each}}
    </tr>
    {{#each this.data as |value key|}}
    <tr>
      {{#each value}}
      <td style="border: 1px solid #CCCCCC;border-collapse: collapse; 
    word-wrap: break-word;">
        {{this}}
        <!-- {{this.key}} -->
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </table>
{{/each}}
<br />
