Hi, <br/><br/>
This is auto alert message regarding QC record being marked as <b>‘Fail’</b>. <br/><br/>
<hr />
<b>Module:</b> {{title}}<br />
<b>App:</b> {{author}}<br />
{{#each tags}}
<th>
  {{this.title}}
</th>
{{/each}}
<br/>

<hr />
<br />
