Hi {{model.firstname}}, <br/>
<br/>
A user with admin rights submitted a request to reset the password associated with the {{model.default.product}} account linked to this email address.
<br /><br />
Click the below link to reset your password:<br/>
<a href="{{model.default.web}}/#/recoverpassword/{{model.username}}/code/{{model.forgotPasswordCode}}">{{model.default.web}}/#/recoverpassword/{{model.username}}/code/{{model.forgotPasswordCode}}</a> (link expires in 72 hours)
<br/><br/>
<i> Or </i>
<br/><br/>
You can go to <a style="color: blue;" href="{{model.default.web}}/#/login">{{model.default.web}}/#/login</a> and enter your username and password 
<br /><br />
Your login details are as below:  <br/>
Username: {{model.username}} <br/>
Password: {{model.tempPassword}} <br/>
<br />
You will be asked to change your password on your first login.
Note that the password is case sensitive.
<br/><br />
If the changes described above are not accurate or you didn’t make this request, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>

<br/><br/>
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account. Please do not reply to this email.
</small>
