Hi {{model.user}},<br/><br/>
This is an alert message regarding a scheduled Auto Import job.
It was completed at <b>{{model.date}}</b> on  <b>{{model.date}}</b><br/>
<br/><br/>
Details of the Automated Import:<br/>
App:  <b>{{model.formName}}</b><br/>
Mapping Name: <b> {{model.title}}</b><br/>
Import File Path:  <b>{{model.sourcePath}}</b><br/>
Total Number of Records:  <b>{{model.totalrecords}}</b><br/>
Records Imported:  <b>{{model.passrecords}}</b><br/>
Fail Records:  <b>{{model.failrecords}}</b><br/>
Your file is successfully moved to <b>{{model.destinationPath}}.</b>
<br/><br/>
Click here <a href="{{model.default.web}}/#/login">Click Here</a> to login into {{model.default.product}}.
<br/>
If the changes described above are not accurate or you didn’t make this request,
please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/><br/>
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account. Please do not reply to this email.
</small>
