Hi {{model.firstname}}, <br/>
<br/>
We received a request to reset the eSignature PIN associated with this email address. If you made this request, please follow the instructions below:<br/>
If you did not request to have your eSignature PIN reset, you can safely ignore this email.<br/>
Click the below link to reset your eSignature PIN:<br/><br/>
<a href="{{model.default.web}}/#/recoveresignaturepin/{{model.username}}/code/{{model.forgotESignatureCode}}">{{model.default.web}}/#/recoveresignaturepin/{{model.username}}/code/{{model.forgotESignatureCode}}</a> (link expires in 72 hours)
<br/><br/>
This link takes you to a secure page where you can change your eSignature PIN. If clicking on this link does not work, you can copy and paste the link in your browser. <br/>
If you have questions, comments or trouble logging in, please contact your administrator.
<br/>
If the changes described above are not accurate or you didn’t make this request,
please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
<br/>
<small>
You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account.
Please do not reply to this email.
</small>
