<!-- by surjeet.b@productivet.com -->
<!-- will schedule for the qc entry -->
<!-- version 0.0.3 -->
<!--
<div style="font-size: 12px;">
Hello! <br/>
The following are the entries which matched the condition(s) which you set.
</div>
<hr /> -->
<!--

<b>Matched Condition(s)</b>
{{#each conditionsAndSchema.conditions}}
<br/>{{this}}
{{/each}}
<hr />
<br/> -->

{{#each finalObj}}
  <b style="font-size:10px;">{{this.schema}}</b>
  <table style="width: 100%; font-size:5px;border: 1px solid #CCCCCC;border-collapse: collapse">
    <tr>
      {{#each this.titleArr}}
      <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
        {{this}}
      </th>
      {{/each}}
    </tr>
    {{#each this.mailObj as |value key|}}
    <tr>
      {{#each value}}
      <td style="border: 1px solid #CCCCCC;border-collapse: collapse;">
        {{this.value}}
      </td>
      {{/each}}
      <!-- <td>{{model.entityModifiedDate}}</td>
      <td style="border: 1px solid #CCCCCC;border-collapse: collapse;">{{model.entityModifiedBy}}</td> -->
    </tr>
    {{/each}}
  </table>
  <br/><br/>
{{/each}}

<!-- <b>QC Record Summary</b>
<table style="width: 100%; font-size:5px;border: 1px solid #CCCCCC;border-collapse: collapse">
  <tr>
    {{#each titleArr}}
    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
      {{this}}
    </th>
    {{/each}}
  </tr>
  {{#each tags as |value key|}}
  <tr>
    {{#each value}}
    <td style="border: 1px solid #CCCCCC;border-collapse: collapse;"> 
      {{this.value}}
    </td>
    {{/each}}

  </tr>
  {{/each}}
</table> -->
<br />
