Hi {{model.firstname}}, <br/>
<br/>
The eSignature PIN for your {{model.default.product}} account was recently changed.
<br/><br/>
If the changes described above are not accurate or you didn’t make this request,
please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>

<br/><br/>
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account. Please do not reply to this email.
</small>
