Hi,<br/>
<br/>
<b>{{model.user.firstname}} {{model.user.lastname}}</b> has shared the App <b>{{model.app.title}}</b> with you.
<p>
  Click on the secure link below to proceed. If that doesn’t work, please copy and paste the address in your browser URL bar.
</p>
<p>
  <a href="{{model.default.web}}/#/oapp?token={{model.token}}&email={{model.default.to}}">{{model.app.title}}</a>
</p>
<p>
  {{#if model.message}}
  <h3>Special Instructions:</h3>
  <i>{{model.message}}</i>
  {{/if}}
</p>
<p>
  If you are having any trouble with viewing or submitting this app, please contact support using the following details: <br/>
  <pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
</p>

Thank you, <br/>
{{model.default.company}} Team
<br/><br/>
<small>
  This is an automated system message. Please do not reply to this email.
</small>