Qualification Performance: Window: {{model.title}} is marked as Invalid as Test Type is Updated/removed.
<br/>
<br/>
<table style="width: 80%; border: 1px solid #000000;border-collapse: collapse">
  <tr>
    <th colspan="5">
      Window Summary
    </th>
  </tr>
  <tr>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Window Id
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Window Name
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Window Start
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Window End
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Window Status
    </th>
  </tr>
  <tr>
    <td style="border: 1px solid #000000;border-collapse: collapse;">{{model.windowId}}</td>
    <td style="border: 1px solid #000000;border-collapse: collapse;">{{model.title}}</td>
    <td style="border: 1px solid #000000;border-collapse: collapse;">{{model.windowStartDate}}</td>
    <td style="border: 1px solid #000000;border-collapse: collapse;">{{model.windowEndDate}}</td>
    <td style="border: 1px solid #000000;border-collapse: collapse;">{{model.windowStatus.title}}</td>
  </tr>
</table>
