Hi {{model.firstname}} {{model.lastname}}, <br/>
<br/>
<h3>Password Changed successfully!</h3> 
<br/><br/>
The password for your&nbsp;{{model.default.product}}&nbsp;account has been changed. Please note that your password is case sensitive.
<br/><br/>
If the changes described above are incorrect or you did not make this request, please contact support using the following details: 
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you,<br/>
{{model.company}} Team
<br/>
<br/>
<small>
    This is an automated system message. Please do not reply to this email.
</small>
