<!-- by surjeet.b@productivet.com -->

Hi {{model.firstname}} {{model.lastname}}, <br/>
<br/>
We have received a request to reset the access for your {{model.default.product}} account. The settings have been changed successfully.
<br/>
<br/>
If you did not make this request, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you, <br/>
{{model.default.company}} Team
<br/><br/>
<small>
  This is an automated system message. Please do not reply to this email.
</small>
