Hi {{model.firstname}}, <br/>
<br/>
<h3>Password Changed successfully!</h3> <br/>
Your {{model.default.product}} account password has been set.
The password is case sensitive.
<br/><br/>
If the changes described above are not accurate or you didn’t make this request, please contact
support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<<br/>
Thank you,<br/>
{{model.default.company}} Team
<br/><br/>
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account.
  Please do not reply to this email.
</small>
