Hi {{model.firstname}} {{model.lastname}}, <br/>
<br/>
We received a request to reset the eSignature PIN associated with this email address. If you made this request, please follow the instructions below:
<br/><br/>
If you did not request to have your eSignature PIN reset, you can safely ignore this email.
<br/><br/>
Click the below link to reset your eSignature PIN:<br/><br/>
<a href="{{model.default.web}}/#/recoveresignaturepin/{{model.username}}/code/{{model.forgotESignatureCode}}">{{model.default.web}}/#/recoveresignaturepin/{{model.username}}/code/{{model.forgotESignatureCode}}</a> (link expires in 72 hours)
<br/><br/>
This link takes you to a secure page where you can change your eSignature PIN. If clicking on this link does not work, you can copy and paste the link in your browser. <br/>
If you have questions, comments or trouble logging in, please contact your administrator. <br/>
<br/>
If the changes described above are incorrect or you did not make this request, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you, <br/>
{{model.default.company}} Team<br/><br/>

<small>
  	This is an automated system message. Please do not reply to this email.
</small>
