Hi {{model.firstname}} {{model.lastname}}, <br/>
<br/>
Your {{model.default.product}} account email has been verified successfully!
<br/>
For any issues related to this email, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you, <br/>
{{model.default.company}} Team
<br/><br />
<small>
  This is an automated system message. Please do not reply to this email.
</small>
