Follwing collections are not loaded
<br/>
<br/>
<br/>
<table style="width: 100%; border: 1px solid #CCCCCC;border-collapse: collapse">
	<tr>
	    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
	      Id
	    </th>
	    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
	      Title
	    </th>
	    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
	      Type
	    </th>
  	</tr>

  	{{#each model.data}}
  	<tr>
    	<td style="border: 1px solid #CCCCCC;border-collapse: collapse;">{{this._id}}</td>
    	<td style="border: 1px solid #CCCCCC;border-collapse: collapse;">{{this.title}}</td>
    	<td style="border: 1px solid #CCCCCC;border-collapse: collapse;">{{this.type}}</td>
  	</tr>
  	{{/each}}
</table>

<br/>
<br/>
Total error count : {{model.length}}
<br/>
<br/>
Total loaded schema count : {{model.appCount}}
<br/>
<br/>
Total loaded entity count : {{model.entityCount}}
<br/>
<br/>
Env : {{model.envurl}}

