Hi {{model.firstname}} {{model.lastname}}, <br/>
<br/>
A user with admin rights submitted a request to reset the password associated with the {{model.default.product}} account linked to this email address.
<br /><br />
Click the below link to reset your password:<br/>
<a href="{{model.default.web}}/#/recoverpassword/{{model.username}}/code/{{model.forgotPasswordCode}}">{{model.default.web}}/#/recoverpassword/{{model.username}}/code/{{model.forgotPasswordCode}}</a> (link expires in 72 hours)
<br/><br/>
<i> Or </i>
<br/><br/>
You may go to <a style="color: blue;" href="{{model.default.web}}/#/login">{{model.default.web}}/#/login</a> and enter your username and temporary password 
<br /><br />
Your login details are as below:  <br/>
Username: {{model.username}} <br/>
Temporary Password: {{model.tempPassword}} <br/>
<br />
You will be asked to change your password on your first login.
Note that the password is case sensitive.
<br/><br />
If the changes described above are incorrect or you did not make this request, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you, <br/>
{{model.default.company}} Team
<br/><br/>
<small>
  This is an automated system message. Please do not reply to this email.
</small>
