Hi {{model.firstname}}, <br/>
<br/>
We have received a request to change the password for your {{model.default.product}} account.
The password was changed successfully.
Please note that the password is case sensitive.
<br/><br/>
If the changes described above are not accurate or you didn’t make this request,
please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>

<br/><br/>
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account.
  Please do not reply to this email.
</small>
