Hi {{model.firstname}} {{model.lastname}}, <br/>
<br/>
A user with admin rights submitted a request to reset the access associated with the {{model.default.product}} account linked to this email address.
<br /><br />
Click the below link to reset your {{model.default.product}} account aceess:<br/>
<a href="{{model.default.web}}/#/resetaccess/{{model._id}}/code/{{model.code}}">{{model.default.web}}/#/resetaccess/{{model._id}}/code/{{model.code}}</a> (link expires in 72 hours)
<br/><br/>
Note that the password is case sensitive.
<br/><br />
If you did not make this request, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you, <br/>
{{model.default.company}} Team
<br/><br/>
<small>
  This is an automated system message. Please do not reply to this email.
</small>
