Hi {{model.firstname}}, <br/>
<br/>
Your {{model.default.product}} account has been created successfully!<br/>
<br/>
If you have questions, comments or trouble logging in, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>

<br/><br />
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account. Please do not reply to this email.
</small>
