Hi {{model.firstname}}, <br/>
<br/>
We received a request to reset the password associated with the {{model.default.product}} account associated with this email address.
If you made this request, please follow the instructions below.
This link will take you to a secure page where you may change your password.
If clicking on this link does not work, please copy and paste the link into your browser URL bar.<br/>
<br/>

Click the below link to reset your password:<br/>
<a href="{{model.default.web}}/#/recoverpassword/{{model.username}}/code/{{model.forgotPasswordCode}}">{{model.default.web}}/#/recoverpassword/{{model.username}}/code/{{model.forgotPasswordCode}}</a> (link expires in 72 hours)
<br/><br/>
If the changes described above are not accurate or you didn’t make this request, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>

<br/><br/>
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account. Please do not reply to this email.
</small>
