<!-- by surjeet.b@productivet.com -->
<!-- will send when qc form gets fail -->
<!-- version 0.0.5 -->

Hi, <br/><br/>
This is auto alert message regarding PERFEQTA Entry being marked as <b>‘Fail’</b>. <br/><br/>
<hr />
<b>Module</b>: {{model.module.title}}<br />
<b>App:</b> {{model.tempSchemaID}}<br />
<b>status:</b> <b>Failed</b>

<br/>

<hr />
<br />

<b>App Entry Summary</b>
<table style="width: 100%;border: 1px solid #CCCCCC;border-collapse: collapse">
  <tr>
    {{#each model.objAttribute}}
    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
      {{this.title}}
    </th>
    {{/each}}
  </tr>
  <tr>
    {{#each model.objAttribute}}
    <td style="border: 1px solid #CCCCCC;border-collapse: collapse;">{{this.value}}</td>
    {{/each}}
  </tr>
</table>
<br />
<a href="{{model.settings.web}}/#/">Click Here</a> to login into PERFEQTA.<br/> <br/>

<br/>
If you have questions, comments or trouble, please contact your administrator. <br/>
