{{#ifCondition model.templateType "==" "createWindow"}}
  Qualification Performance Window: {{model.title}} is <b>Created</b> with Window ID {{model.windowId}} for the Month of {{model.windowPeriod.month}} {{model.windowPeriod.year}}
{{else ifCondition model.templateType "==" "stopWindow"}}
  Qualification Performance: Window: {{model.title}} is <b>stopped</b> by {{model.stoppedBy}} on {{model.stopWindowDate}}.
{{else ifCondition model.templateType "==" "windowFrequency"}}
  Notification for <b>{{model.windowFrequencyStatusAlert.type}}</b> alert for <b>{{model.title}}</b>
{{else ifCondition model.templateType "==" "failWindow"}}
  Qualification Performance: Window: {{model.title}} is marked as <b>Failed</b>.
{{else ifCondition model.templateType "==" "closeWindow"}}
  Qualification Performance: Window: {{model.title}} is <b>Closed</b>.
{{/ifCondition}}
<br/>
<br/>
<table style="width: 80%; border: 1px solid #000000;text-align: center;border-collapse: collapse;">
  <tr>
    <th colspan="6">
      <div style="margin-top:-4px">&nbsp;</div>
      Window Summary
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
  </tr>
  <tr>
    <th style="border: 1px solid #000000; border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      Window Id
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
    <th style="border: 1px solid #000000; border-collapse: collapse;">
      Window Name
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Window Type
    </th>
    <th style="border: 1px solid #000000; border-collapse: collapse;">
      Window Start
    </th>
    <th style="border: 1px solid #000000; border-collapse: collapse;">
      Window End
    </th>
    <th style="border: 1px solid #000000; border-collapse: collapse;">
      Window Status
    </th>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; text-align: center;border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      {{model.windowId}}
      <div style="margin-bottom:-4px">&nbsp;</div>
    </td>
    <td style="border: 1px solid #000000; text-align: center;border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      {{model.title}}
      <div style="margin-bottom:-4px">&nbsp;</div>
    </td>
    <td style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">{{model.windowTypeEmail}}</td>
    <td style="border: 1px solid #000000; text-align: center;border-collapse: collapse;">{{model.windowStartDate}}</td>
    <td style="border: 1px solid #000000; text-align: center;border-collapse: collapse;">{{model.windowEndDate}}</td>
    <td style="border: 1px solid #000000; text-align: center;border-collapse: collapse;">{{model.windowStatus.title}}</td>
  </tr>
</table>
<br>
<table style="width: 80%; border: 1px solid #000000;text-align: center;border-collapse: collapse;">
  <tr>
    <th colspan="4" >
      <div style="margin-top:-4px">&nbsp;</div>
      App and Test Type Summary
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
  </tr>
  <tr>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Module
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      App Name
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      Attribute/Entity Key Attributes
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Test Type
    </th>
  </tr>
  <tr>
    <td style="border: 1px solid #000000; text-align: center;border-collapse: collapse;">{{model.module.title}}</td>
    <td style="border: 1px solid #000000; text-align: center;border-collapse: collapse;">{{model.app.title}}</td>
    <td style="border: 1px solid #000000;border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      {{model.attributes}}
      {{#each model.filteredAttributes}}
      <b>{{this.attribute.title}} </b>{{this.value}}
      <br/>
      {{/each}}
      <div style="margin-bottom:-4px">&nbsp;</div>
    </td>
    <td style="border: 1px solid #000000; text-align: center;border-collapse: collapse;">{{model.testType.title}}</td>
  </tr>
</table>
<br>
<table style="width: 80%; border: 1px solid #000000; text-align: center;border-collapse: collapse;">
  <tr>
    <th colspan="4" >
      <div style="margin-top:-4px">&nbsp;</div>
      Sample Details
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
  </tr>
  <tr>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      Sample Size
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Unit Tested
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Void QC
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Remaining Units
    </th>
  </tr>
  <tr>
    <td style="border: 1px solid #000000;text-align: center;border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      {{model.sampleSize}}
      <div style="margin-bottom:-4px">&nbsp;</div>
    </td>
    <td style="border: 1px solid #000000;text-align: center;border-collapse: collapse;">{{model.unitTestedUnits}}</td>
    <td style="border: 1px solid #000000;text-align: center;border-collapse: collapse;">{{model.voidQC}}</td>
    <td style="border: 1px solid #000000;text-align: center;border-collapse: collapse;">{{model.remainingUnits}}</td>
  </tr>
</table>
{{!-- START:: PQT-2718 PQT-3181 by Yamuna --}}
{{#ifCondition model.templateType "==" "createWindow"}} {{else}}
<br>
<table style="width: 80%; border: 1px solid #000000;text-align: center;border-collapse: collapse;">
  <tr>
    <th colspan="4">
      <div style="margin-top:-4px">&nbsp;</div>
      Failure Details
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
  </tr>
  <tr>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      Pending Failures
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Process Failures
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Allowed Failures
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Remaining Failures
    </th>
  </tr>
  <tr>
    <td style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">
      <div style="margin-top:-4px">&nbsp;</div>
      {{model.pendingFailure}}
      <div style="margin-bottom:-4px">&nbsp;</div>
    </td>
    <td style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">{{model.processFailure}}</td>
    <td style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">{{model.maximumAllowedProcessFailure}}</td>
    <td style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">{{model.remainingFailures}}</td>
  </tr>
</table>
{{/ifCondition}}
{{!-- END:: PQT-2718 by Yamuna --}}
{{#if model.additionalTestSecondStage}}
<pre style="font-family: verdana,arial,sans-serif;font-size:16px;"><b>Has second stage?</b></pre>
<span style="font-size:16px;">{{model.hasSecondStage}}</span>
<pre style="font-family: verdana,arial,sans-serif;font-size:16px;"><b>2nd Stage Activated?</b></pre>
<span style="font-size:16px;">{{model.isSecondStageActivated}}</span>
<div style="margin-bottom:-3px">&nbsp;</div>
<table style="width: 40%; border: 1px solid #000000;text-align: center;border-collapse: collapse;">
  <tr>
    <th>
      <div style="margin-top:-4px">&nbsp;</div>
      Sample Details for second Stage
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
  </tr>
  <tr>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      Sample Size
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
  </tr>
  <tr>
    <td style="border: 1px solid #000000;text-align: center;border-collapse: collapse;">
      <div style="margin-top:-4px">&nbsp;</div>
      {{model.additionalTestSecondStage}}
      <div style="margin-bottom:-4px">&nbsp;</div>
    </td>
  </tr>
</table>
{{/if}}
{{!-- START:: PQT-2718 by Yamuna --}}
{{#if model.displaySecondStage}}
<br>
<table style="width: 80%; border: 1px solid #000000;text-align: center;border-collapse: collapse;">
  <tr>
    <th colspan="3">
      <div style="margin-top:-4px">&nbsp;</div>
      Failure Details of Second Stage
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
  </tr>
  <tr>
    <th style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">
      <div style="margin-top:-4px">&nbsp;</div>
      Pending Failures
      <div style="margin-bottom:-4px">&nbsp;</div>
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;">
      Process Failures
    </th>
    <th style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">
      Remaining Failures
    </th>
  </tr>
  <tr>
    <td style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">
      <div style="margin-top:-4px">&nbsp;</div>{{model.seondStagePendingFailure}}<div style="margin-bottom:-4px">&nbsp;</div>
    </td>
    <td style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">{{model.seondStageProcessFailure}}</td>
    <td style="border: 1px solid #000000;border-collapse: collapse;text-align: center;">{{model.seondStageRemainingFailure}}</td>
  </tr>
</table>
{{/if}}
{{!-- START:: PQT-2718 by Yamuna --}}
<br/>
<br/>
<a href="{{model.default.web}}/#/">Click Here</a> to log in to {{model.default.product}}.<br/> <br/>
This message was sent to you based on settings set by you or an administrator.
If you no longer wish to receive similar messages, please update your settings
or contact your system administrator using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you,<br/>
{{model.default.company}} Team
<br/><br/>
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account.
  Please do not reply to this email.
</small>
