{{#ifCondition model.templateType "==" "createWindow"}}
  Qualification Performance: Window: {{model.title}} is Created with Window ID {{model.windowId}}
{{else ifCondition model.templateType "==" "stopWindow"}}
  Qualification Performance: Window: {{model.title}} is Stopped
{{else ifCondition model.templateType "==" "windowFrequency"}}
  Qualification Performance: Window: {{model.title}} Alert Notification
{{else ifCondition model.templateType "==" "failWindow"}}
  Qualification Performance: Window: {{model.title}} is Marked as Failed
{{else ifCondition model.templateType "==" "closeWindow"}}
  Qualification Performance: Window: {{model.title}} is Closed
{{/ifCondition}}
