{{#each model as |value key|}}
<table border="1" width="80%">
  <tr>
     {{#each value as |v k|}}
    <th>     
        {{k}}
    </th>
      {{/each}}
  </tr>
  <tr>
    {{#each value as |v k|}}
    <td>{{v}}</td>
    {{/each}}
  </tr>  
</table>
<br/>
{{/each}}

<br/>
<br/>
{{model.default.web}}