
<div class="report-header-bx">
        <div style="width: 68%; float: left; padding-left: 10px;font-family: Arial, Helvetica, sans-serif;">
            <div style="text-align: left; padding-top:10px;">{{generalSettings.siteTitle}}</div>
            <div style="font-size: 11px; text-align: left; padding-top:10px;">{{generalSettings.tagline}}</div>
        </div>
        <div style="width: 28%; float: right; text-align: right; padding-right: 10px;"><img style="width: 70%; height: auto;" src={{logo}} /></div>
</div>
<div style="font-size: 12px;font-family: Arial, Helvetica, sans-serif;">
  <br/><br />
  Applied Filters:
  <hr>
  App:
  {{!-- {{#ifConditionMatrix appWindowtypeAttributevalueLength.appLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
    {{#each formattedFilter.apps}}
      {{this}}
      {{#unless @last}}|{{/unless}}
      {{!-- {{#ifConditionMatrix ../appWindowtypeAttributevalueLength.appLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
    {{/each}}
  <br/>
  {{#if formattedFilter.testTypeOption}}
  Test Type: {{formattedFilter.testType}}&nbsp;({{formattedFilter.testTypeOption}})
  <br/>
  {{/if}}
  {{#if formattedFilter.windowType}}
  Window Type:
  {{!-- {{#ifConditionMatrix appWindowtypeAttributevalueLength.windowTypeLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
  {{#each formattedFilter.windowType}}
    {{this}}
    {{#unless @last}}|{{/unless}}
    {{!-- {{#ifConditionMatrix ../appWindowtypeAttributevalueLength.windowTypeLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
  {{/each}}
  <br/>
  {{/if}}
  {{#if formattedFilter.startDate}}
  Start Date: {{formattedFilter.startDate}} &nbsp;&nbsp;
  <br/>
  {{/if}}
  {{#if formattedFilter.endDate}}
  End Date: {{formattedFilter.endDate}}
  <br/>
  {{/if}}

  {{#if formattedFilter.attributes}}
  Attributes:
  {{!-- {{#ifConditionMatrix appWindowtypeAttributevalueLength.attributesLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
  {{#each formattedFilter.attributes as |value key|}}
    {{#if value}}
      {{#each value as |val key|}}
        {{key}}: {{val}}
      {{/each}}
      {{#unless @last}}|{{/unless}}
      {{!-- {{#ifConditionMatrix ../appWindowtypeAttributevalueLength.attributesLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
    {{/if}}
  {{/each}}
  <br/>
  {{/if}}
  {{#if formattedFilter.entities}}
  Key Entity Attribute(s):
    {{!-- {{#ifConditionMatrix appWindowtypeAttributevalueLength.entitiesLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
  {{#each formattedFilter.entities as |value key|}}
    {{#if value}}
      {{#each value as |v k|}}
        {{k}}: {{v}}
      {{/each}}
      {{#unless @last}}|{{/unless}}
    {{!-- {{#ifConditionMatrix ../appWindowtypeAttributevalueLength.entitiesLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
    {{/if}}
  {{/each}}
  <br/>
  {{/if}}

  {{#if formattedFilter.sites}}
  Sites:
       
  {{#each formattedFilter.sites as |value key|}}
    {{#if value}}
      {{#each value as |v1 k1|}}
        {{k1}}: {{v1}}
      {{/each}}
     {{#unless @last}}|{{/unless}}
    {{/if}}
  {{/each}}
  <br/>
  {{/if}}
  {{#if formattedFilter.status}}
  Window Status:
  {{!-- {{#ifConditionMatrix appWindowtypeAttributevalueLength.windowStatusLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
   {{#each formattedFilter.status}}
    {{this}}
    {{#unless @last}}|{{/unless}}
  {{!-- {{#ifConditionMatrix ../appWindowtypeAttributevalueLength.windowStatusLength "!=" "1"}} | {{/ifConditionMatrix}} --}}
  {{/each}}
  <br/>
  {{/if}}
  <hr>
</div>
<br />

{{#each appEntriesData}}
<font style="font-size:9px;font-family: Arial, Helvetica, sans-serif;"><b>Window Information</b></font>
<table style="width: 100%; font-size:8px;border: 1px solid #CCCCCC;border-collapse: collapse;margin-bottom:10px;font-family: Arial, Helvetica, sans-serif;" class="nobreak">
  <tr>
    {{#each this.windowHeaders}}
    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
      {{this}}
    </th>
    {{/each}}
  </tr>
  <tr>
    {{#each this.windowData as |value key|}}
    <td style="border: 1px solid #CCCCCC;border-collapse: collapse;text-align: center;">
      {{valueNotEqual value}}
     {{#each this as |value1 key1|}}
       {{#if value1}}
         {{#each value1 as |val key|}}
           {{key}}: {{val}}
         {{/each}}
         {{#unless @last}}|{{/unless}}
       {{/if}}
     {{/each}}
    </td>
    {{/each}}
  </tr>
</table>
<font style="font-size:9px;font-family: Arial, Helvetica, sans-serif;"><b>First Stage Information</b></font>
<table style="width: 60%; font-size:8px;border: 1px solid #CCCCCC;border-collapse: collapse;margin-bottom:10px;font-family: Arial, Helvetica, sans-serif;" class="nobreak">
  <tr>
    {{#each this.firstStageHeaders}}
    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
      {{this}}
    </th>
    {{/each}}
  </tr>
  <tr>
    {{#each this.firstStageData}}
    <td style="border: 1px solid #CCCCCC;border-collapse: collapse;text-align: center;">
      {{this}}
    </td>
    {{/each}}
  </tr>
</table>
{{#if this.isSecondStage}}
{{!-- PQT-180 by Yamuna --}}
<font style="font-size:9px;font-family: Arial, Helvetica, sans-serif;"><b>Second Stage Information</b></font>
{{/if}}
<table style="width: 60%; font-size:8px;border: 1px solid #CCCCCC;border-collapse: collapse;margin-bottom:10px;font-family: Arial, Helvetica, sans-serif;" class="nobreak">
  <tr>
    {{#each this.secondStageHeaders}}
    <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
      {{this}}
    </th>
    {{/each}}
  </tr>
  <tr>
    {{#each this.secondStageData}}
    <td style="border: 1px solid #CCCCCC;border-collapse: collapse;text-align: center;">
      {{this}}
    </td>
    {{/each}}
  </tr>
</table>

<font style="font-size:9px;font-family: Arial, Helvetica, sans-serif;"><b>Number of matching records: {{this.recordsCount}}</b></font>
  <table style="width: 100%; font-size:8px;border: 1px solid #CCCCCC;border-collapse: collapse;font-family: Arial, Helvetica, sans-serif;" class="nobreak">
    <tr>
      {{#each this.headers}}
      <th style="border: 1px solid #CCCCCC;border-collapse: collapse;">
        {{this}}
      </th>
      {{/each}}
    </tr>
    {{#each this.data as |value key|}}
    <tr>
      {{#each value}}
      <td style="border: 1px solid #CCCCCC;border-collapse: collapse;text-align: center;">
        {{this}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </table>
  <br />
  <br />
{{/each}}
<br />
<style>
    .report-header-bx {
        background: #098fb6;
        width: 99.9%;
        float: left;
        border-radius: 3px 3px 0 0;
        padding: 0px;
        margin: 0px;
        color: #fff;
        font-size: 13px !important;
        font-family: Arial, Helvetica, sans-serif
    }

    .report-header-bx img {
        width: 45%;
        height: auto;
        padding: 10px 10px;
    }
    /*QC3-10849 by Yamuna*/
    .nobreak {
    page-break-inside: avoid;
    }
</style>
