Hi {{model.firstname}},
<br /><br />
You now have an account on {{model.default.product}},
the friendliest and most productive enterprise quality management system and business process automation software.
Welcome!
<br /><br />
To get started, please log into your account by clicking the below link:
<br />
<a href="{{model.default.web}}/#/signup/{{model._id}}/code/{{model.code}}">{{model.default.web}}/#/signup/{{model._id}}/code/{{model.code}}</a>
<br />
<i> Or </i>
<br />
You may go to <a style="color: blue;" href="{{model.default.web}}/#/login">{{model.default.web}}/#/login</a> and
enter the following username and password.
After that, you will be asked to immediately change your password and set up other security related settings.
<br/><br/>
Username: {{model.username}} <br/>
Password: {{model.tempPassword}} <br/>
<br />
Please note that passwords are case sensitive.
<br/><br />
If the changes described above are not accurate or you didn’t make this request,
please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>

<br/><br/>
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account. Please do not reply to this email.
</small>
