<!-- /**
* @name autoBatchDataCorrection
* @author Surjeet Bhadauriya <surjeet.b@productivet.com>
*
* @version 0.0.0
*/ -->

{{#each model as |value key|}}
<table border="1" width="80%">
  <tr>
     {{#each value as |v k|}}
    <th>
        {{k}}
    </th>
      {{/each}}
  </tr>
  <tr>
    {{#each value as |v k|}}
    <td>{{v}}</td>
    {{/each}}
  </tr>
</table>
<br/>
{{/each}}
