<!-- by surjeet.b@productivet.com -->
<!-- version 0.0.0 -->

{{#each appEntriesData}}
<div style="font-size: 12px;">
  <b>Entity:
  {{#if this.title}}
    {{this.title}}
  {{/if}}
  </b>

  {{#if this.appliedFilter}}

    <br/><br />
    Applied Filters:
    <hr>

    {{#each this.appliedFilter as |value key|}}
      {{#if value}}
        {{#each value as |val key|}}
          {{key}}: {{val}}
        {{/each}}
       {{#unless @last}}
      |
      {{/unless}}
      {{/if}}
    {{/each}}
  {{/if}}

  <hr>
</div>
<br />

<font style="font-size:12px;">Number of matching records: {{this.recordsCount}}</font>
  <table style="width: 100%; font-size:8px;border: 1px solid #CCCCCC;border-collapse: collapse">
    <tr>
      {{#each this.headers}}
      <th style="border: 1px solid #CCCCCC;border-collapse: collapse; word-break: break-all;">
        {{this}}
      </th>
      {{/each}}
    </tr>
    {{#each this.data as |value key|}}
    <tr>
      {{#each ../this.headers}}
      <td style="border: 1px solid #CCCCCC;border-collapse: collapse; 
    word-wrap: break-word;">
        {{valueOfObject value this}}
      </td>
      {{/each}}
    </tr>
    {{/each}}
  </table>
{{/each}}
<br />
