Hi {{model.firstname}},
<br/><br/>
Important: This mail is being sent to you as a result of changes you made to the email address associated with your {{model.default.product}} user account.
This email is sent to your previous email address as a security measure.
<br/><br/>
Username: {{model.username}}<br/>
Previous Email Address: {{model.email}}<br/>
New Email Address: {{model.newEmail}}<br/>
<br/>
If the changes described above are not accurate or you didn’t make this request,
please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>

<br/><br/>
<small>
You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account.
Please do not reply to this email.
</small>
