Hi {{model.assignee.firstname}} {{model.assignee.lastname}},
<br/><br/>
<b>{{model.assignedBy.firstname}} {{model.assignedBy.lastname}}</b> has assigned the App <b>{{model.schemaTitle}}</b> to you. It requires your attention.
<br/><br/>

<a href="{{model.default.web}}/#{{model.appRecordUrl}}&isFromMail">Click here</a> to log into {{model.default.company}}.
<br/><br/>
{{#if model.comments}}
Review the comment related to this App:<br/>
<b>{{model.comments}}</b>
<br/><br/>
{{/if}}
This message was sent to you based on settings set by you or an administrator.
If you do not want to receive similar messages in the future,  please update your settings or contact
your system administrator using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you, <br/>
{{model.default.company}} Team
<br/><br/>
<small>
  This is an automated system message. Please do not reply to this email.
</small>
