{{#ifCondition model.templateType "==" "mailProcessInitiation"}}
Smart Alert cron job started !!
{{else ifCondition model.templateType "==" "noOfNotificationShouldGoes"}}
  {{model.numberOfEntries}} Entries found.
{{else ifCondition model.templateType "==" "noOfNotificationSent"}}
  {{model.numberOfEntries}} Entries found.
{{else ifCondition model.templateType "==" "mailProcessCompletion"}}
  Smart Alert cron job completed !!
{{/ifCondition}}
<br>
{{#each model.entriesObj}}
<table border="1" width="80%">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Module</th>
    <th>App/Entity Name</th>
    <th>Type</th>
    <th>Frequency Type</th>
    <th>Date</th>
    <th>Email</th>
  </tr>
  <tr>
    <td>{{this.id}}</td>
    <td>{{this.title}}</td>
    <td>{{this.module}}</td>
    <td>{{this.schemaTitle}}</td>
    <td>{{this.thresholdType}}</td>
    <td>{{this.type}}</td>
    <td>{{this.date}}</td>
    <td>{{this.email}}</td>
  </tr>
</table>
{{/each}}
<br>
<br>
{{#if model.entriesJson}}
<b>JSON Data:</b>
{{/if}}<br>
<pre>
    {{toJSON model.entriesJson}}
</pre>