{{#ifCondition model.templateType "==" "mailProcessInitiation"}}
Email Service Notification (First) - Chron Job Execution Started:&nbsp;{{model.default.web}}&nbsp;{{model.date}}
{{else ifCondition model.templateType "==" "noOfNotificationShouldGoes"}}
Email Service Notification (Second) - Emails to be sent for Smart Alert:&nbsp;{{model.default.web}}&nbsp;{{model.date}}
{{else ifCondition model.templateType "==" "noOfNotificationSent"}}
Email Service Notification (Third) - Chron Job Execution Completed:&nbsp;{{model.default.web}}&nbsp;{{model.date}}
{{else ifCondition model.templateType "==" "mailProcessCompletion"}}
Email Service Notification (Fourth) - Executed Emails of Smart Alert:&nbsp;{{model.default.web}}&nbsp;{{model.date}}
{{/ifCondition}}