Hi {{model.firstname}} {{model.lastname}}, <br/>
<br/>
We received a request to reset the password associated with this email address.
<br/><br/>
If you did not request to have your password reset, you can safely ignore this email. If you did make this request, please click the link to reset your password:
<br/><br/>
<a href="{{model.default.web}}/#/recoverpassword/{{model.username}}/code/{{model.forgotPasswordCode}}">{{model.default.web}}/#/recoverpassword/{{model.username}}/code/{{model.forgotPasswordCode}}</a> (link expires in 72 hours)
<br/><br/>
This link takes you to a secure page where you can change your password. If clicking on this link does not work, copy and paste the link into your browser URL bar. 
<br/><br/>
If you did not make this request, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you, <br/>
{{model.default.company}} Team
<br/><br/>
<small>
  This is an automated system message. Please do not reply to this email.
</small>
