Hi {{model.firstname}} {{model.lastname}},
<br/><br/>
Important: This mail is being sent to you as a result of changes you made to the email address associated with your {{model.default.product}} user account.
This email is sent to your previous email address as a security measure.
<br/><br/>
Username: {{model.username}}<br/>
Previous Email Address: {{model.email}}<br/>
New Email Address: {{model.newEmail}}<br/>
<br/>
If the changes described above are incorrect or you did not make this request, 
please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you,<br/>
{{model.default.company}} Team
<br/><br/>
<small>
This is an automated system message. Please do not reply to this email.
</small>
