Hi {{model.firstname}} {{model.lastname}}, <br/>
<br/>
Your {{model.default.product}} account email has been verified successfully!<br/>
<br/>
If the changes described above are accurate, no further action is needed. If anything doesn’t look right, please contact administrator, 
or if you have questions, comments, or trouble logging in please contact the administrator. <br/>
<br/>
If you did not make this request, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>
<br/>
Thank you, <br/>
{{model.default.company}} Team
<small>
  This is an automated system message. Please do not reply to this email.
</small>
