Hi {{model.firstname}}, <br/>
<br/>
A user with admin rights submitted a request to reset the access associated with the {{model.default.product}} account linked to this email address.
<br /><br />
Click the below link to reset your {{model.default.product}} account aceess:<br/>
<a href="{{model.default.web}}/#/resetaccess/{{model._id}}/code/{{model.code}}">{{model.default.web}}/#/resetaccess/{{model._id}}/code/{{model.code}}</a> (link expires in 72 hours)
<br/><br/>
Note that the password is case sensitive.
<br/><br />
If the changes described above are not accurate or you didn’t make this request, please contact support using the following details:
<pre style="font-family: verdana,arial,sans-serif;">{{model.default.support}}</pre>

<br/><br/>
<small>
  You received this mandatory email service announcement to update you about important changes to your {{model.default.product}} account. Please do not reply to this email.
</small>
